/* correction */
.correction .section-bg,
.correction .section-bg-mobile,
.section .common-additional-services-section, 
.section .common-team-section-bg
{
  display: none;
  position: absolute;
  bottom: unset;
  left: unset;
  right: unset;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  transform: translateY(0px);
}

.how-many .section-bg {
  /* transform: translateY(-170px); */
  transform: translateY(-88%);
}
.advantages .section-bg {
  /* transform: translateY(-210px); */
  transform: translateY(-70%);
}
.process .section-bg {
  /* transform: translateY(-90px); */
  transform: translateY(-50%);
}
.results .section-bg {
  /* transform: translateY(-200px); */
  transform: translateY(-100%);
}
.updates .section-bg {
  /* transform: translateY(-180px); */
  transform: translateY(-90%);
}
.choice .section-bg {
  /* transform: translateY(-155px); */
  transform: translateY(-85%);
}
/* .choice .section-bg_bottom {
  transform: translateY(150px);
} */


.correction .content-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--e-font-family);
  font-weight: 500;
  width: 100%;
  height: 100%;
}
.correction .content-text p,
.correction .content-text ul {
  font-size: 18px;
  line-height: 26px;
}

section.correction {
  margin-top: 100px;
  position: relative;
}

.correction h2 {
    margin-bottom: 30px;
}

@media screen and (min-width: 990px) {
  .correction .section-bg {
    display: block;
  }
}

@media screen and (max-width: 481px) {
    section.correction {
        margin-top: 135px;
    }
    .correction .section-bg-mobile {
        display: block;
    }
    .correction h2 {
        margin-bottom: 20px;
    }
}


/* banner */
.correction.banner {
  margin-top: 0;
  padding: 212px 0 70px 0;
}

.correction.banner h1 {
  font-family: Vetrino;
  font-weight: 400;
  font-size: clamp(32px, 5vw, 60px);
  color: var(--e-white-color);
  line-height: 100%;
  max-width: 869px;
}
.correction.banner h1 svg {
    position: relative;
    top: 12px;
}

.correction.banner h2 {
    color: var(--e-white-color);
    font-size: clamp(18px, 3.5vw, 32px);
    line-height: 1.2;
    margin-bottom: 0;
}


.correction.banner .btn {
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
    .correction.banner {
        padding: 100px 0 30px 0;
    }
}

@media screen and (max-width: 481px) {
    .correction.banner {
        padding: 139px 0 28px 0;
    }
    .correction.banner h1 {
        display: flex;
        flex-direction: column;
    }
    .correction.banner h1 span {
        font-size: 18px;
    }
    .correction.banner h1 svg {
        width: auto;
        height: 28px;
    }
    .correction.banner h2 br {
        display: none;
    }
}

/* necessities */
section.necessities {
    margin-top: 70px;
}

.necessities p {
    max-width: 1019px;
    margin-bottom: 30px;
    font-size: clamp(14px, 2vw, 18px);
}

.necessities__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.color-card {
    background: rgba(255, 241, 226, 0.6);
    border-radius: 20px;
    padding: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: clamp(14px, 2vw, 18px);
}

.color-card:nth-child(even) {
    background: rgba(226, 244, 255, 0.6);
}

.necessities__container .color-card {
    max-width: 406px;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.necessities__container .color-card__container {
    max-width: 248px;
    display: flex;
    align-items: center;
    gap: 16px;
}
@media screen and (max-width: 991px) { 
    .necessities__container {
        gap: 24px;
    }
}
@media screen and (max-width: 481px) { 
    .correction.necessities .section-bg-mobile {
        transform: translateY(-90px);
    }

    section.necessities {
        margin-top: 107px;
    }
    .necessities__container .color-card {
        max-width: 100%;
        min-height: 124px;
    }
    .necessities p, .necessities h2 {
        margin-bottom: 20px;
        line-height: 24px;
    }
    .color-card {
        padding: 14px;
    }
}

/* how-many */
.correction.how-many  {
    margin-bottom: 100px;
}
.how-many__container {
    max-width: max-content;
    width: 100%;
}
.correction-how-many__content {
    display: flex;
    gap: 60px;
    margin-bottom: 60px;
}
.correction-how-many__content_text {
    gap: 16px;
    font-size: clamp(14px, 2vw, 18px);
}
.how-many__contact {
    font-size: clamp(14px, 2vw, 16px);
}
.how-many__image {
    max-width: 665px;
    width: 100%;
    min-height: 287px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.how-many__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.how-many .btn {
    margin: 0 auto;
    display: block;
}
@media screen and (max-width: 1200px) { 
    .correction-how-many__content {
        gap: 30px;
    }
}
@media screen and (max-width: 991px) { 
    .correction-how-many__content {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 481px) {
    .correction-how-many__content {
        margin-bottom: 20px;
        align-items: flex-start;
    }
    .how-many__image {
        min-height: 207px;
    }
    .correction.how-many .section-bg-mobile {
        transform: translateY(-80px);
    }
}


/* advantages */
.correction-advantages__content h2 svg {
    position: relative;
    top: 17px;
}
.advantages__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 52px;
}
.advantages__container .color-card {
    max-width: 392px;
    min-height: 197px;
    display: flex;
    align-items: center;
    padding: 42px 26px;
}
.color-card__container {
    display: flex;
    align-items: center;
    gap: 16px;
}
.correction-advantage__content {
    font-size: clamp(14px, 2vw, 18px);
    line-height: clamp(24px, 2.5vw, 26px);
    gap: 9px;
}
.correction-advantage__content_title {
    font-size: clamp(16px, 2vw, 18px);
    line-height: clamp(24px, 2.5vw, 26px);
}

@media screen and (max-width: 768px) { 
    .correction-advantages__content h2 svg {
        width: auto;
        height: 31px;
        top: 10px;
    }
}
@media screen and (max-width: 481px) { 
    .correction-advantages__content h2 svg {
        width: auto;
        height: 31px;
        top: 10px;
    }
    .correction.advantages .section-bg-mobile {
        transform: translateY(-70px);
    }
    .advantages__container {
        gap: 24px;
    }
    .advantages__container .color-card {
        max-width: 100%;
        min-height: 133px;
        padding: 26px;
        justify-content: center;
    }
    .color-card__container {
        max-width: 340px;
        width: 100%;
    }
}

/* process */
.process__container {
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
}

/* 1, 4, 7, ... */
.process__container .color-card:nth-child(3n+1) {
  background: rgba(255, 241, 226, 0.6); /* цвет A */
}

/* 2, 3, 5, 6, 8, 9, ... */
.process__container .color-card:nth-child(3n+2),
.process__container .color-card:nth-child(3n+3) {
  background: rgba(226, 244, 255, 0.6); /* цвет B */
}

.process__container .color-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.process__container .color-card:nth-child(2n+1):last-child {
  grid-column: 1 / -1;     
  justify-self: center;     
  align-self: center;  
  width: clamp(160px, 100%, 620px); 
}  

.correction-process__content_number {
    font-family: var(--e-font-family-second);
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    letter-spacing: 0;
}
.correction-process__content_title {
    font-family: var(--e-font-family);
    font-size: clamp(16px, 2vw, 20px);
    line-height: clamp(24px, 2.5vw, 26px);
    letter-spacing: 0;
    margin-bottom: 14px;
}
.correction-process__content_text {
    font-family: var(--e-font-family);
    font-size: clamp(14px, 2vw, 19px);
    line-height: clamp(24px, 2.5vw, 26px);
    letter-spacing: 0;
}

@media screen and (max-width: 768px) { 
    .process__container {
        gap: 24px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
    .process__container .color-card:nth-child(2n+1):last-child {
        grid-column: 1;     
        justify-self: center;     
        align-self: center;  
        width: clamp(160px, 100%, 100%); 
    }  
    .process__container .color-card:nth-child(odd) {
        background: rgba(255, 241, 226, 0.6); 
    }
    .process__container .color-card:nth-child(even) {
        background: rgba(226, 244, 255, 0.6); 
    }
}
@media screen and (max-width: 481px) { 
    .process .section-bg-mobile {
        transform: translateY(-90px);
    } 
    .process__container {
        gap: 24px;
    }
    .process__container .color-card {
        gap: 6px;
    }
    .correction-process__content_number {
        margin-bottom: 6px;
    }
    .correction-process__content_title {
        margin-bottom: 0;
    }
}

/* results */
.correction-result__content_text {
    font-size: clamp(16px, 2vw, 18px);
    line-height: clamp(24px, 2.5vw, 26px);
}

@media screen and (max-width: 768px) { 
    .results__container {
        gap: 16px;
        margin: 0 auto;
        justify-content: unset;
        max-width: 314px;
    } 
    .result__container {
        gap: 8px;
    }
}

@media screen and (max-width: 481px) { 
    .correction.results .section-bg-mobile {
        transform: translateY(-90px)
    }
}


/* price */
.price-contain {
    position: relative;
}
.price #tablepress-12-name {
    text-align: center;
}
.price .tablepress {
    margin-bottom: 0;
}
.price .tablepress-table-description {
    font-size: clamp(14px, 2vw, 18px);
    line-height: clamp(24px, 2.5vw, 26px);
}
.price .tablepress-table-description span {
    margin-bottom: 16px;
    display: inline-flex;
}
section.price .tablepress td span.tablepress-note {
    opacity: 1;
}

.btn-free-consultation {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
    border-radius: 10px;
    background: #FFCA3026;
    cursor: pointer;
}
.btn-free-consultation::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; 
    border-radius: 10px;
    background: linear-gradient(95.1deg, #DDBF6A 0%, #9B7700 49.76%, #DDBF6A 100%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}

.btn-free-consultation span {
    font-family: Manrope;
    font-weight: 800;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
    text-transform: uppercase;
    background-image: linear-gradient(95.1deg, #DDBF6A 0%, #9B7700 49.76%, #DDBF6A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 991px) { 
    section.price .tablepress tbody .row-2 .column-1{
        display: flex;
        flex-direction: column;
        border: 0;
    }
    .btn-free-consultation {
       position: relative;
       left: 0;
       bottom: 0;
       margin-top: 16px;
    }
}
@media screen and (max-width: 481px) {  
    .price #tablepress-12-name {
        text-align: start;
    }
    .correction.price .section-bg-mobile {
        transform: translateY(-90px)
    }
}

/* update */
.correction-updates_subtitle {
    margin-bottom: 16px;
    font-size: clamp(14px, 2vw, 18px);
    line-height: clamp(24px, 2.5vw, 26px);
    padding: 10px 0;
}
.updates__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.updates__container .color-card {
    max-width: 406px;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.updates__container .color-card__container {
    max-width: 299px;
}
.correction-update_text {
    font-size: clamp(14px, 2vw, 18px);
    line-height: clamp(24px, 2.5vw, 26px);
}
@media screen and (max-width: 991px) {
    .updates__container {
        gap: 24px;
    }
}
@media screen and (max-width: 481px) {
    .updates__container .color-card {
        max-width: 100%;
    }
    .correction.updates .section-bg-mobile {
        transform: translateY(-90px)
    }
    .correction-updates_subtitle {
        padding: 0;
        max-width: 330px;
    }
}

/* choose-up */
/* .choice {
    margin-bottom: 100px;
} */
.correction-choice h2 svg {
    position: relative;
    top: 16px;
    left: 10px;
}
.choice__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.choice__container .color-card {
    max-width: 406px;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice__container .icon-size-xl {
    height: 62px;
}
.choice__container .color-card__container {
    max-width: 309px;
}
.correction-choice_text {
    font-size: clamp(14px, 2vw, 18px);
    line-height: clamp(24px, 2.5vw, 26px);
}
@media screen and (max-width: 991px) {
    .choice__container {
        gap: 24px;
    }
}
@media screen and (max-width: 481px) {
    /* .choice {
        margin-bottom: 130px;
    } */
    .choice__container .color-card {
        max-width: 100%;
    }
    .correction.choice .section-bg-mobile {
        transform: translateY(-90px)
    }
    .correction-choice_subtitle {
        padding: 0;
    }
    .correction-choice h2 svg {
        width: auto;
        height: 31px;
        top: 10px;
    }
}


/* other styles */
section.common-team-section,
section.common-additional-services-section {
    margin-top: 100px;
}
.section-bg.common-team-section-bg {
    display: none;
}
.section-bg.common-team-section-bg.reverse {
    display: block;
    /* transform: translateY(20px); */
    transform: translateY(2%);
}
.section-bg.common-additional-services-section-bg {
    /* display: none; */
    transform: translateY(-180px);
    transform: translateY(-90%);
}
.section-bg.common-additional-services-section-bg.reverse {
    /* display: block;
    transform: translateY(20px); */
}
 
