/* czeny */

.czeny {
  overflow: hidden;
}
.czeny.banner {
  padding: 213px 0 100px 0;
  color: white;
}

.czeny.banner h1 {
  font-family: var(--e-font-family-second);
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
}

.czeny.banner p {
  max-width: 694px;
  font-family: Manrope;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

.czeny.banner .banner-p {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
  row-gap: 5px;
}

.czeny.banner .cat {
  display: flex;
  gap: 10px;
}

.czeny.banner .cat span {
  font-family: Manrope;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  border-radius: 1000px;
  border: 0.2px solid rgba(255, 231, 217, 1);
  padding: 10px 22px;
}

.czeny h2 {
  position: relative;
  background-color: rgba(255, 241, 226, 0.6);
  background-blend-mode: overlay; /* или multiply, lighten, etc. */
  background-repeat: no-repeat;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 50vw;
  padding-right: 50vw;
  margin-top: 54px;
  margin-bottom: 34px;
  background-blend-mode: lighten;
  padding-top: 2px;
  padding-bottom: 2px;
}

.czeny h2:first-of-type {
  margin-top: 0;
  background-image: url("../../images/czeny/bg-1.svg");
  background-position: 50%;
}
.czeny h2:nth-of-type(2) {
  background-image: url("../../images/czeny/bg-2.svg");
  background-position: 53%;
}
.czeny h2:nth-of-type(3) {
  background-image: url("../../images/czeny/bg-3.svg");
  background-position: 55%;
}
.czeny h2:nth-of-type(4) {
  background-image: url("../../images/czeny/bg-4.svg");
  background-position: 66%;
}
.czeny h2:nth-of-type(5) {
  background-image: url("../../images/czeny/bg-5.svg");
  background-position: 69%;
}
.czeny h2:nth-of-type(7) {
  background-image: url("../../images/czeny/bg-7.svg");
  background-position: 64%;
}
.czeny h2:nth-of-type(8) {
  background-image: url("../../images/czeny/bg-8.svg");
  background-position: 62%;
}

@media (max-width: 991px) {
  .czeny h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .czeny.banner {
    padding: 100px 0 20px 0;
    color: white;
    background-position: 66% !important;
  }
  .czeny.banner .cat span {
    font-size: 14px;
    padding: 10px 20px;
  }
  .czeny.banner h1 {
    font-size: 52px;
  }
  .czeny.banner p:last-child {
    margin-bottom: 20px;
  }

  .czeny.banner .banner-p {
    font-size: 14px;
    line-height: 16px;
  }
  .czeny.banner p {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .czeny.banner button {
    display: block;
    width: 100%;
  }
}

@media (max-width: 475px) {
  .czeny.banner .cat,
  .banner-p {
    flex-direction: column;
    align-items: center;
  }
  .czeny.banner h1 {
    font-size: 32px;
  }
}
