/* faq */
.faq.title {
  margin-top: 260px;
  position: relative;
}

.faq.title h1 {
  font-family: "Vetrino", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.faq .section-bg,
.faq-section .section-bg-mobile,
.faq .section-bg-mobile {
  display: none;
  position: absolute;
  bottom: unset;
  left: unset;
  right: unset;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  transform: translateY(0px);
}

.faq.title .section-bg {
  transform: translateY(-180px);
}

.faq.content .section-bg {
  transform: translateY(-100px);
}

/* content */
.faq.content {
  margin-top: 100px;
  position: relative;
}

/* faq-section */
.faq-section {
  margin-top: 60px;
  position: relative;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq-item {
  background: rgba(234, 228, 224, 0.4);
  border: 0.5px solid rgba(244, 244, 244, 1);
  padding: 26px 20px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(33, 92, 129, 1);
  transition: all 0.2s linear;
}
.is-open .faq-question {
  margin-bottom: 22px;
}

.faq-question svg {
  transform: rotate(180deg);
  transition: all 0.1s linear;
}

.faq-item.is-open .faq-question svg {
  transform: rotate(0deg);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  opacity: 0;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

.is-open .faq-answer {
  max-height: 500px; /* или auto через JS, если нужно */
  opacity: 1;
}

.faq-comments {
  margin-top: 100px;
}

.comment-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  background: rgba(234, 228, 224, 0.2);
  border-radius: 14px;
}

.comment-list li,
.children li {
  max-width: 1165px;
  background: rgba(234, 228, 224, 0.2);
  padding: 20px;
}

.comment-date {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.comment-name,
.comment-content {
  color: rgba(0, 132, 215, 1);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
}
.comment-content {
  color: rgba(0, 0, 0, 0.8);
}

.children .comment-body {
  padding-left: 50px;
}

/* pag */
.comment-pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-list {
  display: inline-flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-page,
.pagination-arrow {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  background: #f0f0f0;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.pagination-page.active {
  background: #0073aa;
  color: #fff;
}

.pagination-ellipsis {
  padding: 6px 12px;
  color: #999;
}

@media (max-width: 991px) {
  .children .comment-body {
    padding-left: 0px;
  }
  .comment-list,
  .children {
    padding: 10px;
  }
  .faq.title {
    margin-top: 90px;
  }

  .faq-comments {
    margin-top: 50px;
  }

  .comment-list {
    padding: 20px;
  }

  .faq p {
    font-size: 14px;
    line-height: 24px;
  }

  .faq.title h1 {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 52px;
  }
  .faq-question {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 990px) {
  .faq .section-bg {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .faq.title h1 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .faq.content .section-bg-mobile,
  .faq-section .section-bg-mobile {
    display: block;
    transform: translateY(-80px);
  }
  .faq-section {
    margin-top: 135px;
  }
}
