/* faq */
.faq-comments .container {
  display: flex;
  flex-direction: column;
}
.faq.title {
  margin-top: 260px;
  position: relative;
}

.faq.title h1 {
  font-family: "Vetrino", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0;
  margin-bottom: 30px;
}

.faq .section-bg,
.faq-section .section-bg-mobile,
.faq .section-bg-mobile {
  display: none;
  position: absolute;
  bottom: unset;
  left: unset;
  right: unset;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  transform: translateY(0px);
}

.faq.title .section-bg {
  transform: translateY(-180px);
}

.faq.content .section-bg {
  transform: translateY(-450px);
}

/* content */
.faq.content {
  margin-top: 100px;
  position: relative;
}

@media (max-width: 490px) {
  .faq.content .flex {
    flex-wrap: wrap;
    gap: 0;
  }
}

.faq-question .svg-container {
  flex-shrink: 0;
  margin-left: 24px;
}
/* faq-section */
.faq-section {
  margin-top: 60px;
  position: relative;
}

.faq-title {
  margin-bottom: 60px;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq-item {
  background: rgba(234, 228, 224, 0.4);
  border: 0.5px solid rgba(244, 244, 244, 1);
  padding: 26px 20px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  color: rgba(33, 92, 129, 1);
  transition: all 0.2s linear;
}
.is-open .faq-question {
  margin-bottom: 22px;
}

.faq-question svg {
  transform: rotate(180deg);
  transition: all 0.1s linear;
}

.faq-item.is-open .faq-question svg {
  transform: rotate(0deg);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  opacity: 0;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

.is-open .faq-answer {
  max-height: 500px; /* или auto через JS, если нужно */
  opacity: 1;
}

.faq-comments {
  margin-top: 100px;
}

.comment-list {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  background: rgba(234, 228, 224, 0.2);
  border-radius: 14px;
  transition: all 0.3s linear;
}

.comment-list li,
.children li {
  width: fit-content;
  max-width: 1165px;
  background: rgba(234, 228, 224, 0.2);
  padding: 20px;
  border-radius: 14px;
  animation: grow 0.3s ease forwards;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.comment-date {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.comment-name,
.comment-content {
  color: rgba(0, 132, 215, 1);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
}
.comment-content {
  color: rgba(0, 0, 0, 0.8);
}

.comment-reply {
  margin-left: 50px;
}

/* pag */
.comment-pagination {
  width: auto;
  max-width: fit-content;
  margin-left: auto;
  margin-top: auto;
  margin-top: 30px;
}

.pagination-list {
  display: flex;
  gap: 8px;
}

.pagination-list button,
.pagination-ellipsis {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(33, 92, 129, 1);
  border: 1px solid rgba(33, 92, 129, 1);
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}

.pagination-list .arrow {
  border: none;
}

.pagination-list button.active {
  pointer-events: none;
  background: rgba(255, 241, 226, 1);
  border: 1px solid rgba(255, 241, 226, 1);
  color: rgba(184, 132, 102, 1);
}

.pagination-ellipsis {
  pointer-events: none;
}

/* form */
.comment-form {
  position: relative;
}
.comment-form_content {
  position: relative;
  margin-top: 100px;
  width: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 241, 226, 1);
  background-image: url("../../images/form/form-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0px 0px 120px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 632px;
}
.bg-form {
  display: none;
}

.obuchenie .comment-form_content {
  background-image: url("../../images/form/form-bg2.svg");
  max-width: 100%;
}

.obuchenie .comment-form_content h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  max-width: 632px;
  margin-bottom: 0;
}

form .btn {
  min-width: 195px;
}

.comment-form .sub {
  max-width: 460px;
  text-align: center;
}

.comment-form_form {
  width: 100%;
  max-width: 680px;
  margin-top: 30px;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

input,
textarea {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  padding: 14px 20px;
  border-radius: 14px;
  background-color: white;
  color: rgba(0, 0, 0, 1);
  width: 100%;
}

::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

textarea {
  min-height: 124px;
  resize: none;
}

.submit {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-group,
.form-line {
  margin-bottom: 15px;
}

.form-consent {
  display: flex;
  gap: 12px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(33, 92, 129, 1);
  border-radius: 6px;
  background-color: white;
  padding: 0;
  flex-shrink: 0;
  display: block;
}

input[type="checkbox"]:checked {
  background: rgba(33, 92, 129, 1);
}

.invalid-checkbox {
  border: 2px solid rgba(255, 89, 89, 1) !important;
}

.error-message {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: rgba(255, 89, 89, 1);
}

body.popup-open {
  overflow: hidden;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background: rgba(255, 241, 226, 1);
  width: 100%;
  padding: 60px;
  border-radius: 40px;
  box-shadow: 0px 0px 120px 0px rgba(0, 0, 0, 0.25);
  max-width: 713px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.popup-close {
  margin-top: 50px;
  min-width: 195px;
}

.checkbox {
  position: relative;
}
.galka {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 30%);
  pointer-events: none;
}

@media (max-width: 490px) {
  .comment-form_content .sub,
  .comment-form_content {
    text-align: left;
    align-items: flex-start;
  }
}

@media (max-width: 991px) {
  .faq-title {
    margin-bottom: 20px;
  }
  .obuchenie .comment-form_content h3 {
    font-size: 18px;
    line-height: 25px;
  }
  .form-group {
    grid-template-columns: repeat(1, 1fr);
  }

  .comment-form {
    margin-top: 50px;
  }
  .comment-form_form {
    margin-top: 24px;
  }
  .comment-reply {
    margin-left: 10px;
  }
  .comment-list,
  .children {
    padding: 10px;
  }
  .faq.title {
    margin-top: 90px;
  }

  .faq-comments {
    margin-top: 50px;
  }

  .comment-list {
    padding: 20px;
  }

  .faq p,
  .comment-form p {
    font-size: 14px;
    line-height: 24px;
  }

  .faq.title h1 {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 52px;
  }
  .faq-question {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 990px) {
  .faq .section-bg {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .faq.title h1 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .bg-form {
    display: block;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
  }
  .obuchenie .comment-form_content {
    background-image: url("../../images/form/form-bg2.svg");
  }
  .comment-form.obuchenie {
    margin-top: 137px;
  }
  .comment-form.obuchenie .section-bg-mobile {
    display: block;
    transform: translateY(-85px);
  }
  .popup {
    padding: 40px 20px;
  }
  .popup-close {
    margin-top: 30px;
  }
  .h3 {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 18px;
  }

  .popup .sub {
    font-size: 14px;
    line-height: 24px;
  }
  .faq.content .section-bg-mobile,
  .faq-section .section-bg-mobile {
    display: block;
    transform: translateY(-80px);
  }
  .faq-section {
    margin-top: 135px;
  }
}
