/* obuchenie */

.obuchenie .section-bg,
.obuchenie .section-bg-mobile {
  display: none;
  position: absolute;
  bottom: unset;
  left: unset;
  right: unset;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  transform: translateY(0px);
}

.author .section-bg,
.location .section-bg,
.choice .section-bg,
.junior .section-bg,
.program .section-bg,
.pricing .section-bg,
.certificate .section-bg,
.date .section-bg,
.hand .section-bg {
  transform: translateY(-160px);
}

.date .section-bg.rtl {
  top: unset;
  bottom: 0;
  transform: translateY(120px);
}

@media screen and (min-width: 990px) {
  .obuchenie .section-bg {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .obuchenie.benefits {
    margin-top: 107px;
  }
  .obuchenie.benefits .section-bg-mobile {
    transform: translateY(-50px);
  }

  .obuchenie .section-bg-mobile {
    display: block;
    transform: translateY(-80px);
  }
}

section.obuchenie {
  margin-top: 100px;
  position: relative;
}
/* banner */
.obuchenie.banner {
  margin-top: 0;
  padding: 240px 0 60px 0;
}

.obuchenie.banner h1 {
  font-family: Vetrino;
  font-weight: 400;
  font-size: 60px;
  color: var(--e-white-color);
  line-height: 100%;
  max-width: 869px;
}

.obuchenie.banner .banner-p {
  font-family: Manrope;
  font-weight: 500;
  font-size: 18px;
  color: var(--e-white-color);
  line-height: 26px;
  margin-top: 30px;
}

.obuchenie.banner .btn {
  margin-top: 60px;
}

/* benefits */
.obuchenie.benefits {
  margin-top: 70px;
}

.obuchenie h2 {
  margin-bottom: 30px;
}

.benefits__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
  justify-content: center;
}

.color-card {
  background: rgba(255, 241, 226, 0.6);
  border-radius: 20px;
  padding: 26px;
  width: 100%;
}

.color-card:nth-child(even) {
  background: rgba(226, 244, 255, 0.6);
}

.benefits__container .color-card {
  max-width: 372px;
}

.obuchenie-benefits__content_icon {
  margin-bottom: 8px;
}

.obuchenie-benefits__content_text {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
/* author */
.obuchenie.author h2,
.obuchenie.location h2,
.obuchenie.junior h2,
.obuchenie.hand h2,
.obuchenie.certificate h2,
.obuchenie.date h2,
.obuchenie.choice h2 {
  margin-bottom: 6px;
}
.obuchenie .content-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Manrope;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.obuchenie .content-text p,
.obuchenie .content-text ul {
  font-size: 18px;
  line-height: 26px;
}

.photo-block {
  flex-shrink: 0;
  width: 100%;
  border-radius: 20px;
  background: rgba(244, 244, 244, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.author .photo-block {
  max-width: 522px;
  aspect-ratio: 0.813;
}

.location .photo-block {
  max-width: 615px;
  aspect-ratio: 2.135;
}

.choice .photo-block {
  max-width: 439px;
  aspect-ratio: 1.12;
}
.junior .photo-block {
  max-width: 755px;
  aspect-ratio: 2.9;
}

.hand .photo-block {
  max-width: 439px;
  aspect-ratio: 1.12;
}
.certificate .photo-block {
  max-width: 514px;
  aspect-ratio: 1.415;
}
.date .photo-block {
  max-width: 586px;
  aspect-ratio: 1.927;
}

.photo-block img {
  /* max-width: 100%; */
  max-height: 100%;
  object-fit: contain;
}

.location .photo-block img {
  max-width: 100%;
  max-height: unset;
}

.quote-block {
  width: 100%;
  position: relative;
  font-family: Calibri;
  font-weight: 400;
  font-style: Italic;
  font-size: 18px;
  line-height: 26px;
  border-radius: 20px;
  padding: 16px;
  background: rgba(255, 241, 226, 0.6);
  color: rgba(177, 121, 89, 1);
}
.quote-author {
  text-align: right;
  margin-top: 10px;
  font-weight: 700;
}
.quote-icon-top {
  height: 20px;
  width: 26px;
  position: absolute;
  left: -13px;
  top: 0px;
}

.quote-icon-bottom {
  height: 20px;
  width: 26px;
  position: absolute;
  bottom: 0;
  right: -13px;
}

.obuchenie .content {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.section-header {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
}
.logo-title {
  width: 100%;
  max-width: 195px;
  opacity: 0.2;
  pointer-events: none;
}

.program .content {
  align-items: flex-start;
}

.program .container .content:nth-child(3) {
  margin-top: 40px;
}

.program .content .content-text:nth-child(2) {
  width: 100%;
  max-width: 790px;
  flex-shrink: 0;
}

.pricing .section-header {
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.pricing_content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.content-text .price {
  font-family: Manrope;
  font-weight: 600;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
}

.content-text button,
.content-text .price {
  align-self: center;
}

.content-text .price {
  margin-top: auto;
}

.pricing .color-card {
  display: flex;
  flex-direction: column;
  height: 580px;
  width: 400px;
}

.color-card .h3 {
  margin-bottom: 30px;
  text-align: center;
}

.pricing_content .color-card:first-child {
  order: 1;
}

.obuchenie_date {
  font-family: Vetrino;
  font-weight: 400;
  font-size: 32px;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  background: rgba(226, 244, 255, 0.6);
  width: 100%;
  padding: 18px 26px;
  position: absolute;
  bottom: 0;
}

.obuchenie_date span {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin-top: 8px;
}

@media (max-width: 1100px) {
  .junior .content {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .obuchenie_date span {
    font-size: 14px;
    line-height: 1;
    margin-top: 6px;
  }
  .obuchenie_date {
    font-size: 24px;
  }
  .pricing .color-card {
    height: 546px;
    width: 374px;
  }
  .pricing_content {
    grid-template-columns: 1fr;
  }
  .pricing .section-header .logo-title {
    display: none;
  }
  .program .container .content:nth-child(3) {
    margin-top: 24px;
  }
  .choice .photo-block {
    display: none;
  }
  .junior .photo-block,
  .hand .photo-block,
  .date .photo-block,
  .location .photo-block {
    order: 1;
  }

  .photo-block {
    max-width: 100%;
  }
  .obuchenie .content {
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .obuchenie.author h2,
  .obuchenie.location h2,
  .obuchenie.junior h2,
  .obuchenie.hand h2,
  .obuchenie.certificate h2,
  .obuchenie.choice h2 {
    margin-bottom: 4px;
  }
  .obuchenie .content-text {
    gap: 16px;
  }
  .obuchenie .content-text p,
  .obuchenie .content-text ul,
  .quote-block {
    font-size: 14px;
    line-height: 24px;
  }
  .benefits__container .color-card {
    max-width: 400px;
  }
  .benefits__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
  }
  .obuchenie-benefits__content_text {
    font-size: 14px;
    line-height: 24px;
  }

  .obuchenie.banner {
    padding: 100px 0 30px 0;
  }
  .obuchenie h2 {
    margin-bottom: 20px;
  }

  .obuchenie.banner h1 {
    font-size: 48px;
    line-height: 100%;
  }

  .obuchenie.banner .banner-p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
  }

  .obuchenie.banner .btn {
    margin-top: 30px;
  }
}

@media (max-width: 481px) {
  section.obuchenie {
    margin-top: 136px;
  }
  .benefits__container .color-card {
    max-width: 100%;
  }
  .benefits__container {
    row-gap: 24px;
  }
}

@media (max-width: 450px) {
  .pricing .color-card {
    width: 100%;
  }
  .logo-title {
    display: none;
  }
}

@media (max-width: 400px) {
  .obuchenie.banner h1 {
    font-size: 32px;
    line-height: 100%;
  }
}
