.slider-post {
  position: relative;
  height: 866px;
}

.slider-post.raboty {
  height: 640px;
}

.svg-container {
  flex-shrink: 0;
}

.slider-post_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 35px;
  z-index: 2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 866px;
}

.raboty .slider-post_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 24px;
  z-index: 2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 640px;
}

.slider-post_pag {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.slider-post_pag-left,
.rab-left,
.rab-right,
.slider-post_pag-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 20px 0;
}
.slider-post_pag-left,
.rab-left {
  left: -56px;
}
.slider-post_pag-right,
.rab-right {
  right: -56px;
}

.slider-post_pag svg {
  height: 22px;
}

.raboty-card {
  width: 100%;
  max-width: 360px;

  position: relative;
  border-radius: var(--e-common-card-radius-m);
  border: 2px solid rgba(33, 92, 129, 0.05);
  background: rgba(242, 242, 242, 1);
  line-height: 1.5em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s linear;
}

.raboty .slider-card {
  flex: 0 0 360px;
  height: 640px;
}

.raboty-card.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.twentytwenty-container {
  border-radius: 20px;
}

.raboty-card {
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.raboty-card.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1440px) {
  .slider-post_pag-left,
  .rab-left,
  .rab-right,
  .slider-post_pag-right {
    position: static;
    transform: translateY(0);
  }
  .slider-post_container {
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .slider-post_container,
  .slider-post {
    height: auto;
  }
  .slider-post_container,
  .raboty .slider-post_container {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    width: auto;
    scroll-snap-type: x mandatory;
    touch-action: pan-x;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .raboty .slider-post_container,
  .slider-post.raboty {
    height: 494px;
  }

  .slider-post_container::-webkit-scrollbar {
    display: none;
  }

  .slider-card {
    flex: 0 0 322px;
    height: 752px;
  }

  .raboty .slider-card {
    flex: 0 0 278px;
    height: 494px;
  }

  .slider-post_pag {
    display: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
