.slider-post {
  overflow: hidden;
  position: relative;
}
.slider-post_container {
  position: relative;
  display: flex;
  transform: translateX(0);
  gap: 35px;
  width: fit-content;
  z-index: 2;
}

.slider-post_pag {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.post-card_img {
  width: 100%;
  height: 640px;
  border-radius: 20px;

  background: no-repeat center;
  background-size: cover;
}

.post-card_head {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  gap: 4px;
  color: rgba(33, 92, 129, 0.6);
}

.post-card {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  text-transform: none;
  color: rgba(33, 92, 129, 1);
  width: 400px;
  height: 866px;
  display: flex;
  flex-direction: column;

  gap: 16px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid rgba(33, 92, 129, 0.05);
  padding: 34px 22px;
}

.text-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
